{% extends "base.html" %}
{% load static %}
{% block title %}Error{% endblock title %}

{% block content %}
		<!-- End Header/Navigation -->

		
		<!-- End Hero Section -->

		

		<div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center pt-5">
          
          <h2 class="display-3 text-black">Not Found Apoinment</h2>
          <p class="lead mb-5">Please Apply Apoinment</p>
          <p><a href="{% url "home" %}" class="btn btn-sm btn-outline-black">Back to Apply</a></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
		