{% extends "base.html" %}
{% load static %}
{% block title %}Product Details{% endblock title %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="img-box">
              <img src="{{ details.image.url }}" alt="">
          </div>
      </div>
      <div class="col-md-6">
          <div class="detail-box">
              <div class="heading_container">
                  <h2>About <span>Hospital</span></h2>
              </div>
              <h6>{{ details.shortInformation }}</h6>
              <p>{{ details.Main_information}}</p> 
          </div>
      </div>
  </div>
</div>

{% endblock content %}
